[submodule "third/googletest"]
	path = third/googletest
	url = git@github.com:google/googletest.git
[submodule "third/spdlog"]
	path = third/spdlog
	url = git@github.com:gabime/spdlog.git
[submodule "third/gflags"]
	path = third/gflags
	url = git@github.com:gflags/gflags.git
[submodule "third/oneTBB"]
	path = third/oneTBB
	url = git@github.com:oneapi-src/oneTBB.git
[submodule "third/folly"]
	path = third/folly
	url = git@github.com:facebook/folly.git
